<div class= "col-3-md" ng-controller="simpleExampleViewModel as vm">
    <div>
        <span>First Name: </span>
        <input type="text" class="form-control" ng-model="vm.name.first" />
        {{ vm.name.first }}
    </div>

    <div>
        <span>Last Name: </span>
        <input type="text" class="form-control" ng-model="vm.name.last" />
        {{ vm.name.last }}
    </div>
    <br />
    <div>
        <button type="button" ng-click= "vm.submit()">Submit</button>
    </div>

    <hr />
    <div>
        <span>Your Name IS {{ vm.fullName }}</span>
    </div>

</div>